<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="\static\css\emp_home_page.css">
  </head>
<body>
      <div class="container">
        <a href="/employee" class="logout"><i class="fas fa-sign-out-alt"></i>&emsp;Log out</a>
      </div>
      <div class="container1">
        <a href="/" class="home"><i class="fas fa-home"></i></a>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
      <header>
        <h1>Biometric Management System</h1>
        <p><i class="fas fa-user"></i>&emsp;Employee</p>
      </header>
      <main>
        <aside>
          <nav>
            <ul class="menu-list">
              <li>
                <a href="#"><i class="fas fa-clipboard-list"></i>&emsp;Attendance</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-calendar-alt"></i>&emsp;Calendar</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-user-check"></i>&emsp;Today's Attendance</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-building"></i>&emsp;Departments</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-file-alt"></i>&emsp;Reports</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-bed"></i>&emsp;Weekly Off</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-glass-cheers"></i>&emsp;Company Events</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-business-time"></i>&emsp;Shift Timings</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-lock"></i>&emsp;Permissions</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-paper-plane"></i>&emsp;Employee Requests</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-birthday-cake"></i>&emsp;Upcoming Birthdays</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-money-bill-alt"></i>&emsp;Salary Distribution</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-bullhorn"></i>&emsp;Announcements</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-star"></i>&emsp;Admin Appraisal</a>
              </li>
            </ul>
          </nav>
        </aside>
        <div class="content">
        </div>
      </main>
      <div style="padding: 20px;">
        <footer style="height: 40px; padding: 10px;">
          <p>&copy; 2023 Biometric Management System. All rights reserved.</p>
        </footer>
      </div>
    </body>
    </html>
    